<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EffectKey</key>
	<dict>
		<key>packages</key>
		<dict>
			<key>pre-install</key>
			<array>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.effect.1</string>
					<key>packageId</key>
					<string>Analog</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.effect.2</string>
					<key>packageId</key>
					<string>B_W</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.effect.3</string>
					<key>packageId</key>
					<string>Lomo</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.effect.4</string>
					<key>packageId</key>
					<string>Old_Picture</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.effect.5</string>
					<key>packageId</key>
					<string>Retro</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
			</array>
			<key>not-install</key>
			<array/>
		</dict>
	</dict>
	<key>FrameKey</key>
	<dict>
		<key>packages</key>
		<dict>
			<key>pre-install</key>
			<array>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.frame.1</string>
					<key>packageId</key>
					<string>Simple</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.frame.2</string>
					<key>packageId</key>
					<string>Style</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.frame.3</string>
					<key>packageId</key>
					<string>Gallery</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
			</array>
			<key>not-install</key>
			<array/>
		</dict>
	</dict>
	<key>StickerKey</key>
	<dict>
		<key>packages</key>
		<dict>
			<key>pre-install</key>
			<array>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.sticker.1</string>
					<key>packageId</key>
					<string>Abstract</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.sticker.2</string>
					<key>packageId</key>
					<string>Boom</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.sticker.3</string>
					<key>packageId</key>
					<string>Decoration</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.sticker.4</string>
					<key>packageId</key>
					<string>Love</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.sticker.5</string>
					<key>packageId</key>
					<string>Party</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.sticker.6</string>
					<key>packageId</key>
					<string>Travel</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
			</array>
			<key>not-install</key>
			<array/>
		</dict>
	</dict>
	<key>FontKey</key>
	<dict>
		<key>packages</key>
		<dict>
			<key>pre-install</key>
			<array>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.font.1</string>
					<key>packageId</key>
					<string>System</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
				<dict>
					<key>packageKey</key>
					<string>com.everimaging.photosdk.font.2</string>
					<key>packageId</key>
					<string>Free</string>
					<key>sourceType</key>
					<string>local</string>
					<key>isFree</key>
					<true/>
					<key>isInstalled</key>
					<true/>
					<key>productId</key>
					<string></string>
				</dict>
			</array>
			<key>not-install</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
